<%# // routes/drones.js manages this view%>

<h2> Welcome to the drone page </h2>

<h5> Here is the list of drones that we offer: </h5>

<ul>
  <%  drones.forEach((oneDrone) => { %>
    <a href="drones/<%= oneDrone._id %>"> <%= oneDrone.droneName %> </a>
    <form class="newdrone" action="/drones/<%= oneDrone._id %>/delete" method="post">
      <button type="submit" name="button">Delete</button>
    </form> </br> </br>

    <form class="newdrone" action="/drones/<%= oneDrone._id %>/edit" method="get">
      <button type="submit" name="button">Update</button>
    </form> </br> </br>
  <% }); %>
</ul>

<button type="button" name="button"><a href="/drones/new">Add a New Drone!</a></button>
