<h2> Add a new drone </h2>

<form class="newdrone" action="/drones" method="post">
  <label for="droneName"> Name of Drone: </label>
  <input id="droneName" type="text" name="droneName" placeholder="name"> <br> <br>

  <label for="propellers"> Amount of propellers of drone: </label>
  <input id="propellers" type="number" name="propellers" placeholder="propellers"> <br> <br>

  <label for="maxSpeed"> Maximum Speed of Drone: </label>
  <input id="maxSpeed" type="number" name="maxSpeed" placeholder="speed"> <br> <br>

  <button type="submit" name="button">Add now</button>
</form>
