<h2> Details of the drone :</h2>

<ul>
    <li> Name: <%= results.droneName %> <br/> </li> <br/>
    <li> propellers: <%= results.propellers %> <br/> </li> <br/>
    <li> maxSpeed: <%= results.maxSpeed %> <br/> </li> <br/>
</ul>
